*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* #parag_id { */
.parag_class {
    color: blue;
    color: #123;
    color: #5fa3e6;

    background-color: #123;

    /* iç boşluk */
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding: 30px 20px 30px 10px;
    padding: 30px 20px;

    /* dış boşluk */
    margin: 10px 20px;

    /* çerceve */
    border: 5px solid red;

    /* text */
    text-decoration: line-through;
    text-decoration: none;
    text-indent: 15%;
    text-align: justify;
    text-transform: capitalize;

    /* font */
    font-size: 15px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;

    letter-spacing: 0.8px;
    word-spacing: 3px;
    line-height: 20px;

    cursor: pointer;
}

    /* Menu*/
    #menu{
       list-style-type: none; 
    }

    #menu >li{
        display: inline-block;
        border:1px solid rgba(0,0,0,0.1);
        padding: 0 3px;
        background-color: brown;
        color:rgb(224, 220, 228);
        transition: 1.5s all;
        box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.7);
        text-transform: uppercase;
    }

    #menu >li:hover{
        background-color: rgb(224, 220, 228) ;
        color:brown; 
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
        transform: rotate(-360deg);
        cursor: pointer;
    }

.div_class{
    background-color: blue;
    color:black;
    width: 100%;
    height: 150px;
    display: inline-block;
}

@media screen and (min-width:760px){
    .div_class{
        background-color: blue;
        color:black;
        width: 49%;
        height: 150px;
        display: inline-block;
    }
}

@media screen and (min-width:960px){
    .div_class{
        background-color: blue;
        color:black;
        width: 32%;
        height: 150px;
        display: inline-block;
    }
}

@media screen and (min-width:1200px){
    .div_class{
        background-color: blue;
        color:black;
        width: 24%;
        height: 150px;
        display: inline-block;
    }
}